<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Item Type</title>
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>Item Type</h1>

<span>ID:</span>
<span th:text="${itemType.id}">1</span>
<br/>
<span>Categories:</span>
<br/>
<span th:if="${itemType.categories}">
            <table>
                <tr th:each="category : ${itemType.categories}">
                    <td th:if="${category}" th:text="${category.name}">Banana</td>
                    <td th:unless="${category}" th:text="'<NULL>'">Banana</td>
                </tr>
            </table>
</span>
<div class="vertical-separator"></div>
<div class="footer">DEMO!!</div>
</body>
</html>