<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Item Types</title>
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>Item Types</h1>
<br/>
<a href="cart_Item_create.html" th:href="${#mvc.url('ITVC#create').build()}">Create an Item Type</a>
<br/>
<div class="vertical-separator"></div>
<table id="item-table">
    <tr>
        <th>Id</th>
        <th>Item Type Name</th>
        <th></th>
    </tr>
    <tr th:each="itemType : ${itemTypes}">
        <td th:text="${itemType.id}">1</td>
        <td th:text="${itemType.name}">Banana</td>
        <td><span th:if="${itemType.categories}">
            <table>
                <tr th:each="category : ${itemType.categories}">
                    <td th:if="${category}" th:text="${category.name}">Banana</td>
                    <td th:unless="${category}" th:text="'<NULL>'">Banana</td>
                </tr>
            </table>
        </span></td>
        <td><a th:href="${(#mvc.url('ITVC#edit').arg(0,itemType.getId()).build())}">Edit</a></td>
    </tr>
</table>
<div class="vertical-separator"></div>
<div class="footer">DEMO!!</div>
</body>
</html>