<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shopping Carts</title>
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>


<h1>Shopping Carts</h1>
<br/>
<a href="cart_Item_create.html" th:href="${#mvc.url('SCVC#create').build()}">Create a Shopping Cart</a>
<br/>
<div class="vertical-separator"></div>
<table id="item-table">
    <tr>
        <th>Id</th>
        <th>Cart Items</th>
    </tr>
    <tr th:each="shoppingCart : ${shoppingCarts}">
        <td th:text="${shoppingCart.id}">1</td>
        <td><span th:if="${shoppingCart.cartItems}">
            <table>
                <tr th:each="cartItem : ${shoppingCart.cartItems}">
                    <td th:if="${cartItem.itemType}" th:text="${cartItem.itemType.name}">Banana</td>
                    <td th:unless="${cartItem.itemType}" th:text="'<NULL>'">Banana</td>
                </tr>
            </table>
        </span></td>

        <!--        <td th:if=" ${shoppingCart.cartItems}" th:text="${shoppingCart.cartItems}">Banana</td>-->
        <!--        <td th:unless="${shoppingCart.cartItems}" th:text="'<NULL>'">Banana</td>-->
    </tr>
</table>
<div class="vertical-separator"></div>
<div class="footer">DEMO!!</div>
</body>
</html>