<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shopping Carts</title>
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>


<h1>Shopping Carts</h1>
<br/>
<a href="cart_Item_create.html" th:href="${#mvc.url('SCVC#create').build()}">Create a Shopping Cart</a>
<br/>
<div class="vertical-separator"></div>
<h1 th:unless="${shoppingCart.id}" th:text="'Create Item Type'">Create Shopping Cart</h1>
<h1 th:if="${shoppingCart.id}" th:text="'Edit Item Type'">Edit Shopping Cart</h1>

<form action="#" th:action="@{${action}}" th:object="${shoppingCart}" method="post">
    <input type="submit" value="Submit"/>
</form>
<div class="vertical-separator"></div>
<div class="footer">DEMO!!</div>
</body>
</html>